@import '../../../sass/variables';

.Box {
    // width: 100%;
    display: flex;
    flex-direction: column;

    .Header {
        // background-color: red;
        display: flex;
        flex-direction: row;
        .Title {
            float: left;
            color: $active-link-color;
            font-size: 1.8rem;
        }

        .Tool {
            float: right;
            color: $mute-text-color;
            font-size: 1rem;
        }
    }

    .Body {
        // background-color: green;
        height: 100px;
    }
}