.main-slider {
    position: relative;
    .slick-slide {
        padding: 10px;
        outline: none;
        position: relative;
    }

    .slick-dots {
        position: initial;
        padding-bottom: 15px;
    }

    .btn-arrow {
        position: absolute;
        display: block;
        top: 40%;
        transform: translateY(-80%);
        z-index: 10;
        cursor: pointer;
        &-next {
            right: -20px;
        }
        &-prev {
            left: -20px;
        }
    }
}