.main-slider {
    position: relative;
    .slick-slide {
        padding: .5rem;
        outline: none;
        position: relative;
        height: inherit !important;
    }

    .slick-dots {
        position: initial;
        padding-bottom: 15px;
    }

    .btn-arrow {
        position: absolute;
        display: block;
        top: 40%;
        transform: translateY(-80%);
        z-index: 10;
        cursor: pointer;
        &-next {
            right: -20px;
        }
        &-prev {
            left: -20px;
        }
    }

    div[class^="SongItem_SongItem"] {
        div[class^="SongItem_SongCover"] {
            height: 324px;
        }
    }

    @media (max-width: 1399px) {
        div[class^="SongItem_SongItem"] {
            div[class^="SongItem_SongCover"] {
                height: 279px;
            }
        }
    }

    @media (max-width: 1199px) {
        div[class^="SongItem_SongItem"] {
            div[class^="SongItem_SongCover"] {
                height: 234px;
            }
        }
    }

    @media (max-width: 767px) {
        div[class^="SongItem_SongItem"] {
            div[class^="SongItem_SongCover"] {
                height: 172px;
            }
        }
    }

    @media (max-width: 600px) {
        div[class^="SongItem_SongItem"] {
            div[class^="SongItem_SongCover"] {
                height: 258px;
            }
        }
    }
}