@import './variables';

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: local('SFProDisplay-Regular'), url(../fonts/SFProDisplay-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: local('SFProDisplay-Bold'), url(../fonts/SFProDisplay-Bold.ttf) format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SFProDisplay-Regular', 'Roboto', sans-serif;
  font-size: 16px;
  color: $main-text-color;
}

.text-uppercase-first-letter {
  display: inline-block;
}

.text-uppercase-first-letter::first-letter {
  text-transform: capitalize !important;
}

.active-text-color {
  color: $active-text-color !important;
}

.mute-text-color {
  color: $mute-text-color !important;
}

.main-text-color {
  color: $main-text-color !important;
}

.mute-link {
  text-decoration: none;
  color: $mute-text-color;
  transition: all 0.2s linear;
  &:hover, &:active {
    color: $active-text-color;
  }
}

.list-vertical {
  margin: 0;
  list-style: none;
  padding: 15px 0 0 0;
  &>li {
    padding: 3px 0;
    border-top: 1px solid $mute-border-color;

    &.select:hover {
      background-image: linear-gradient(-180deg, rgba(238,238,238,0.12) 25%, rgba(216,216,216,0.21) 99%);
    }
  }
}