.LatestAlbum {
    div[class^="SongItem_SongItem"] {
        width: 150px;
        font-size: 0.8rem;
        div[class^="SongItem_SongCover"] {
            width: 150px;
            height: 150px;
        }
    }
}