@import '../../../sass/variables';

@media all and (min-width: 992px) {
    .Header {
        .HeaderItem {
            .HeaderDropdownMenu { display: none !important; }
        }

        .HeaderItem:hover {
            & > a, a:hover {
                color: $active-link-color;
            }
            .HeaderDropdownMenu {
                display: block !important;
                border-radius: 0;
                
                a:hover {
                    color: $active-link-color;
                    background-color: transparent;
                }
            }
        }

        .HeaderItem {
            .HeaderDropdownMenu { margin-top:0 !important; }
        }

        .HeaderItem {
            a::after {
                display: none;
            }
        }
    }
}